html,
body {
  margin: 0;
  padding: 0;
}
.App {
  background-color: #282c34;
  color: white;
  height: 100dvh;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#quizz {
  padding: 10px;
}

#comparePage {
  padding: 10px;
  overflow: auto;
}

#compareInput {
  max-width: fit-content;
  margin: 20px auto;
}

#flags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.flagCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flagImage {
  width: 100px;
  height: 80px;
}

#mainImage {
  width: 500px;
  height: 370px;
}

.score {
  position: absolute;
  font-size: 2em;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

#shortcuts {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  color: gray;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
}

#shortcuts:hover {
  width: 300px;
  height: 173px;
}

#questionMark {
  position: absolute;
  bottom: 2px;
  left: 14px;
  font-size: 25px;
  font-weight: bold;
}

#table {
  position: absolute;
  bottom: 50px;
  left: 24px;
  width: 280px;
}

#table td:first-child{ 
  font-weight: 700 
}